

/* 検索バー */
.main-header{
    height: 100px;
    background-color: #3F82ED;
    align-items: center;
    display: flex;
}

#form1{
    display: flex;
    margin-left: 40px;
    height:50px;/*高さ*/
}

#sbox1{
    width:250px;/*横幅*/
    padding:0 15px;/*プレースホルダーの位置調整*/
    border-radius:4px 0 0 4px;/*左側の角を少し丸める*/		
    background:#eee;/*検背景カラー*/
    border:none;/*枠線を消す*/ 
    outline:0;/*クリック時の青い枠線消す*/	
}

#sbtn1{
    width:70px;/*横幅*/ 
    border-radius:0 4px 4px 0;/*右側の角を少し丸める*/ 
    background:#7fbfff;/*背景カラー*/ 
    border:none;/*枠線を消す*/ 
    color:#fff;/*テキストカラー*/ 
    font-size:16px;/*フォントサイズ指定*/ 
    cursor: pointer;/*マウスを乗せると指差しポインターになる*/
    margin-right: 20px;
}

#sbtn1:hover {
    background: #92dbff;/*背景カラー変更*/
}

/* 戻るボタン */
#sbtn2 button{
    width:70px;/*横幅*/ 
    border-radius:4px;/*右側の角を少し丸める*/ 
    background:#7fbfff;/*背景カラー*/ 
    border:none;/*枠線を消す*/ 
    color:#fff;/*テキストカラー*/ 
    font-size:16px;/*フォントサイズ指定*/ 
    cursor: pointer;/*マウスを乗せると指差しポインターになる*/
    padding:0 15px;/*プレースホルダーの位置調整*/
    height: 100%;
}

#sbtn2 button:hover{
    background: #92dbff;
}

/* 並び替え */
/* 並び替えのコンテナスタイル */
.sort-container {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 40px;
}

/* フォームのスタイル */
#sort-form label{
    margin-right: 10px;
    color: #4B4B4B;
    font-size: 1.6rem;
}

/* プルダウンのスタイル */
.sort-select {
    padding: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #3F82ED;
    color: white;
}

/* 絞り込み */
#filter-form{
    margin-left: 20px;
}

#filter-form label{
    margin-right: 10px;
    color: #4B4B4B;
    font-size: 1.6rem;
}

#filter{
    padding: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: #3F82ED;
    color: white;
    cursor: pointer;
}

/* テーブル */
/* テーブル全体のスタイル */
.table-container {
    overflow-x: auto;  /* 横スクロールを有効にする */
    white-space: nowrap;  /* 折り返しを防ぐ */
    -webkit-overflow-scrolling: touch;  /* スムーズなスクロールをサポート (モバイル) */
    margin-left: 40px;
    margin-right: 40px;
}

.center-table {
    width: 100%;
    border-collapse: collapse;
}

/* ヘッダーのスタイル */
.center-table th {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* 水平方向に中央揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
    font-weight: normal;
    color: #4B4B4B;
    font-size: 1.6rem;
    white-space: nowrap;  /* テーブルヘッダーも折り返しを防ぐ */
}

/* データセルのスタイル */
.center-table td {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* 水平方向に中央揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
    font-weight: bold;
    color: #4B4B4B;
    font-size: 2.4rem;
    height: 57px; 
}

/* テーブル　編集ボタン */
.center-table td .btn{
    display: block;
    width: 45px;
    padding: 2px 0;
    margin: auto;
    background: #7FBFFF;
    color: #FFF;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    border-radius: 4px;
    cursor: pointer;
}

/* .center-table .center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
} */

/* ハンバーガーメニュー */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; /*初期は非表示*/
}

/* タブレット */
@media (max-width: 960px) {
    /* サイドバー */
    .sidebar {
        width: 200px;
    }
    .main-content {
        margin-left: 200px; 
    }
    .site-icon {
        width: 100px;
        height: 100px;
    }

    /* テーブル */
    .center-table td{
        font-size: 1.8rem;
    }

    /* 絞り込み */
    #filter-form{
        margin-left: 0px;
        width: 40%;
    }
    #sort-form{
        width: 40%;
    }
}

/* スマホ */
@media (max-width: 430px) {

    /* ハンバーガーメニュー */
    .menu-icon {
        display: block; /* 小さい画面でハンバーガーメニューを表示 */
        position: absolute;
        z-index: 10000;
    }

    .sidebar {
        transform: translateX(-100%); /*初期状態では非表示*/
        width: 100%;
        transition: transform 0.5s ease; /* 左右の動きに0.5秒のトランジションを設定 */
    }

    .sidebar.active {
        transform: translateX(0); /* メニューを表示 */     
    }

    .main-content {
        margin-left: 0px; 
    }

    /* テーブル */
    .table-container{
        width: 90%;
        margin: auto;
    }

    .center-table {
        margin: auto;
    }

    /* タイトル */
    .main-content h1 {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 2.8rem;
    }

    /* 検索バー */
    .main-header-container{
        width: 90%;
        margin: auto;
    }

    /* 検索バー フィルター */
    .sort-container {
        display: block;
        width: 90%;
        margin: auto;
    }

    /* 絞り込み */
    #filter-form{
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    #filter{
        padding: 5px;
        font-size: 1.4rem;
        height: 30px;
    }

    /* 並び替え */
    #sort-form{
        width: 100%;
    }
}