{%load static%}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ダッシュボード</title>
    <link href="{%static 'css/dashboard.css'%}" rel="stylesheet">
</head>
<body>

    {%block content%}

    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="site-icon-container">
                <img src="{% static 'images/cat_icon.png' %}" alt="サイトアイコン" class="site-icon">
            </div>
            <div class="site-name-container">
                <span class="site-name">団体名</span>
            </div>
        </div>
        <ul>
            <li><a href="#"><img src="{% static 'images/human_icon.png' %}" alt="ホームアイコン" class="icon">ホーム</a></li>
            <li><a href="#">ユーザ管理</a></li>
            <li><a href="#">設定</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit btn" class="btn">ログアウト</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="main-header">
            <div class="main-header-container">
                <div class="menu-icon" onclick="toggleMenu()">&#9776;</div> <!-- ハンバーガーメニューアイコン -->
                <form id="form1" action="自分のサイトURL">
                    <input id="sbox1" name="s" type="text" placeholder="里親名を入力" />
                    <input id="sbtn1" type="submit" value="検索" />
                </form>
            </div>
        </div>
        <h1>里親一覧</h1>
        <div class="sort-container">
            <form id="sort-form" action="自分のサイトURL" method="GET">
                <label for="sort">絞り込み検索:</label>
                <select id="sort" name="sort" class="sort-select" onchange="sortChange()">
                    <option value="name-asc">名前順</option>
                    <option value="latest-date">最終送信日順</option>
                </select>
            </form>
        </div>

        <table class="center-table">
            <thead>
                <tr>
                    <!-- <th>LINEユーザー名</th> -->
                    <th>里親氏名</th>
                    <!-- <th>登録日時</th> -->
                </tr>
            </thead>
            <tbody>
                {%for user in account_list%} 
                    <tr>
                        <td>{{user.username}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>



    <!-- js読み込み用コード -->
    <script src="{%static 'js/dashboard.js'%}"></script>
    {%endblock content%}

    {%block footer%}
    {%endblock footer%}
</body>
</html>
