{%load static%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link href="{%static 'css/login.css'%}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <p class="fsize">ログイン画面</p>
        <form action="{%url 'login'%}" method="post">
            {%csrf_token%}
            <input type="text" placeholder="ユーザー名" name="username">
            <input type="password" placeholder="パスワード" name="password">
            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>
{%endblock content%}