    {% extends 'base.html' %}
    {% block title %}Setting{% endblock %}
    {%load static%}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    {% endblock %}

    {%block content%}
    <div class="main-content">
        <div class="main-header">
            <div class="main-header-container">
                <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
            </div>
        </div>
        <h2>アカウントの設定</h2>
        <div class="settings">
            <form method="post" action="{% url 'logout' %}" class="logout">
                {% csrf_token %}
                <button type="submit btn" class="btn">ログアウト</button>
            </form>
        </div>
        
    </div>
    
    {%endblock content%}

